*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --coral: #f45844;
  --charcoal: #2f292b;
  --grey: #E3E3E3;
}

html, body{
  height: 100%;
  padding: 20px 40px;
  margin: 0px;
  border: 0px;
  margin: 0px;
  font-family: 'SpoqaHanSansNeo-Regular';
  min-width: 320px;
}

body{
  padding: 10px;
}

*{
  box-sizing: border-box;
}


.title{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: 5px solid var(--coral);
  border-radius: 10px;
  height: 70px;
  font-size: 1.5rem;
  background-color: var(--charcoal);
}

main{
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 60px);
  margin-top: 10px;
}

.sidebar{
  display: flex;
  flex-flow: column nowrap;
  width: 120px;;
  flex-shrink: 0;
  padding: 10px;
  background-color: var(--coral);
  color: var(--grey);
}

.sidebar > span{
  color: wheat;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  margin-left: 10px;
  background: var(--grey);
  align-content: flex-start;
  overflow-y: scroll;
}

.card{
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  min-height: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.card > img{
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.card > span{
  text-align: center;
  word-break: break-all;
}

.add-button{
  padding: 7px 20px;
  background: var(--charcoal);
  color: whitesmoke;
  font-weight: 700;
  border: 3px solid var(--charcoal);
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-button:hover{
  background: var(--grey);
  color: black;
  border: 3px solid whitesmoke;
}

.submit-button{
  padding: 7px 10px;
  background: var(--grey);
  color: black;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.submit-button:hover{
  background: var(--coral);
  color: black;
  border-radius: 10px;
}

.label{
  font-size: 19px;
  font-weight: 900;
  margin-bottom: 5px;
}

.input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  outline: none;
  border: 2px solid var(--grey);
  border-radius: 6px;
}

.input:focus{
  border-color: var(--coral);
}

.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

.modal{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 400px;
  z-index: 11;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.modal-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  z-index: 12;
}

.modal-close:hover{
  transform: scale(1.2);
}

@media (min-width: 700px){
  .card{
      background: var(--grey);
  }
}

@media (min-width: 1200px){
  .card{
      background: var(--coral);
  }
}